
:root {
    --primaryGreen: #4BA87D;
    --secondaryGreen: #CAEAC7;
    --white: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 400px;
}

footer{
    display: flex;
    flex-direction: column;
}

.nav-container {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 8px;
}
.header__logo {
    width: 156px;
    margin-inline-start: 12px;
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 26px;
}

.primary-button {
    width: 115px;
    height: 26px;
    background-color: var(--primaryGreen);
    color: var(--white);
    border: none;
    font-size: 11px;
    font-weight: 800;
    padding: 6px 12px;
    text-transform: uppercase;
    margin-inline-end: 12px;
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    width: 284px;
    height: 138px;
    position: absolute;
}

.header__hero {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.hero-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-block-start: 8px;
}
.hero-left p {
    font-size: 14px;
    margin-block-end: 16px;
    text-align: center;
}
.header__image {
    margin-block-start: 46px;
    filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.160784));
}
.buttons-hero {
    display: flex;
    justify-content: space-around;
}

.buttons-hero .secondary-button {
    background-color: white;
    border: 2px solid var(--primaryGreen);
    color: var(--primaryGreen);
}

.hero {
    height: 40px;
    font-size: 12px;
}
.Reach_more {
    margin-block-start: 30px;
    height: 500px;
    background-image: url('../assets/GrayBG.png');
    
}

.img-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: contain;
    background-image: url('../assets/slash_black.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach-mo__info {
    transform: translateY(-110px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach-mo__info h3 {
    font-size: 2.2rem;
    color: var(--white);
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin-block-end: 20px;
}

.reach-mo__info button {
    width: 66px;
    height: 21px;
    border: none;
    background-color: var(--white);
    padding: 6px 12px;
    font-size: 6px;
    font-weight: 900;
    color: var(--primaryGreen);
    border-radius: 3px;
}

.section2 {
    height: 700px;
    background-color: var(--secondaryGreen);
    transform: skewY(-20deg) translateY(-60px);
    position: relative;
}

.cards_container {
    transform: skewY(20deg);
    width: 209px;
    height: 294px;
    background-color: var(--white);
    filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.160784));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_container__info {
    width: 164px;
    margin-block-start: 16px;
}
.cards_container__info p {
    font-size: 1.2rem;
    font-weight: 500px;
    margin-block-end: 14px;
}
.cards_container__info a {
    font-size: 1.2rem;
    color: var(--primaryGreen);
    text-decoration: none;
    font-weight: 800;
}

.section2 .card1 {
    transform: skewY(20deg) translateY(-250px);
    margin-inline-start: 10px;
}

.section2 .card2 {
    transform: skewY(20deg) translateY(-164px);
    height: 300px;
    inset-inline-end: 10px;
    position: absolute;
}

.section2 .transparent {
    --width: 209px;
    background-color: transparent;
    margin-inline-start: calc(100vw/2 - var(--width)/2);
    transform: skewY(20deg) translateY(120px);

}

.section2 .transparent h3 {
    font-size: 28px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;

}
.section2 .card_info p {
    font-size: 1.2rem;
    font-weight: 500px;
    margin-block-end: 14px;
}

.members {
    display: flex;
    justify-content: center;
}
.principal_container {
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-38px);
}
.members_cards__info {
    transform: translate(16px,-60px);
}

.members_cards__info h1 {
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--white);
    margin-block-end: 5px;
}

.members_cards__info h5 {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 700;
}

.members_list_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members_list_form h1 {
    font-size: 26px;
    font-weight: 900;
    margin-block-end: 14px;
    text-align: center;
}

.members_list_form input {
    width: 222px;
    height: 42px;
    border-radius: 5px;
    /* border: none; */
    border: 1px solid #9F9F9F;
    padding: 12px 12px;
    margin-block-end: 7px;
    font-size: 13px;
}

.members_list_form__down {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}
.members_list_form__down a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: var(--primaryGreen);
    margin-block-end: 7px;
}

.members_list_form__down button {
    width: 144px;
    height: 42px;
}

.brands {
    margin-block-start: 54px;
}
.brands_title {
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    margin-block-end: 40px;
}
.brands_logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    row-gap: 30px;
}

.brands_logos > * {
    justify-self: center;
}

.last_logo {
    grid-column: 1/3;
}

.get_started {
    height: 290px;
    background-color: var(--primaryGreen);
    margin-block-start: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 50px;
}

.get_started h1 {
    font-size: 42px;
    color: var(--white);
    font-weight: 900;
    text-align: center;
    margin-block-end: 40px;
}

.pick_plan {
    background-color: var(--white);
    color: var(--primaryGreen);
    height: 42px;
}

.header-links div {
    display: flex;
    flex-direction: column;
    margin-inline-end: 54px;
}

.header-links div a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin-block-end: 7px;
}

.links_container {
    display: flex;
    margin-block-start: 20px;
    margin-inline-start: 17px;
}
.line {
    --width:300px;
    width: 300px;
    height: 1px;
    background-color: #DBDBDB;
    margin-block: 24px;
    margin-inline-start: calc(100vw/2 - var(--width)/2);;
}

.rights_container {
    margin-inline-start: 18px;
    margin-block-end: 52px;
}

.rights_container .idk {
    font-size: 9px;
    font-weight: 700;
    margin-block-end: 20px;
    width: 186px;
    line-height: 19px;
}

.rights_container .right_links {
    font-size: 9px;
    font-weight: 700;
}
.rights_container .right_links a {
    display: inline-block;
    margin-block-end: 8px;
    text-decoration: none;
    color: black;
}

@media(min-width: 426px) {
    .header-links {
        display: flex;
        flex-direction: row;
    }
   
}
@media(min-width: 768px) {
    .logo_and_links {
        display: flex;
        justify-content: center;
    }
    .links_container {
        margin-inline-start: 130px;
    }
}